<p>
    Prest Vale is a London based architectural studio with a reputation for creating architecture that is rich in
    character and distinct in identity.
</p>
<p>
    The practice was founded by Richard Prest and Michael Vale after working on some of the most revered projects in the
    UK and abroad. These include the extension of The Royal Academy of Arts, the prestigious Chelsea Barracks
    residential development and the refurbishment of the Grade I listed Charterhouse Monastery. Today Prest Vale
    delivers masterplanning, building and interior projects of varying use, for both private and commercial clients.
    This wide ranging experience enables them to manage a diverse portfolio and helps to make every one of their
    projects a smooth and enjoyable process for their clients.

</p>
<p>
    Many of Prest Vale’s projects are in historic settings and involve working sensitively with listed buildings and
    protected landscapes. They are experienced in navigating the additional planning protections in these places and
    possess the technical ability to work with such significant structures. The practice has a long standing association
    with The Society for the Protection of Ancient Buildings and Richard Prest is among their scholars.
</p>
<p>

    Richard and Michael studied at the universities of Cambridge, Liverpool and The CASS. Among other internationally
    recognised architects, they have worked with Professor Balkrishna Doshi, the recipient of the 2018 Pritzker Prize,
    as well as Eric Parry RA. They remain committed to the promotion of architectural excellence and have lectured at a
    number of English and European Universities.
</p>