@font-face {
    font-family: 'Signifier Regular';
    src: url('/assets/fonts/signifier-web-regular.eot') format('eot'),
    url('/assets/fonts/signifier-web-regular.woff') format('woff'),
    url('/assets/fonts/signifier-web-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Signifier Regular Italic';
    src: url('/assets/fonts/signifier-web-regular-italic.eot') format('eot'),
    url('/assets/fonts/signifier-web-regular-italic.woff') format('woff'),
    url('/assets/fonts/signifier-web-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Signifier Extralight';
    src: url('/assets/fonts/signifier-web-extralight.eot') format('eot'),
    url('/assets/fonts/signifier-web-extralight.woff') format('woff'),
    url('/assets/fonts/signifier-web-extralight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Signifier Extralight Italic';
    src: url('/assets/fonts/signifier-web-extralight-italic.eot') format('eot'),
    url('/assets/fonts/signifier-web-extralight-italic.woff') format('woff'),
    url('/assets/fonts/signifier-web-extralight-italic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic; 
    font-stretch: normal;
}

