

$white: #fff;
$black: #000;

$offBlack: #383131;
$stone: #F3EFE2;
$clay: #C37861;
$forest: #818A64;
$mustard: #e7bd5d;

$yellow:#FFE922;
$green:#2A8F5C;
$orange:#F0691F;
$blue:#3E86BC;

$signifier: 'Signifier Regular', Georgia, Serif;
$signifierItalic: 'Signifier Regular Italic', Georgia, Serif;
$signifierLight: 'Signifier Extralight', Georgia, Serif;
$signifierLightItalic: 'Signifier Extralight Italic', Georgia, Serif;

$gapGlobal: 20px;

$z100: 100;
$z50: 50;

$break-xl: 1440px;
$break-l: 770px;
$break-m: 700px;
