@keyframes color {
    0% { background-color: $royal; }
    25% { background-color: $clay;}
    50% { background-color: $forest;}
    75% { background-color: $mustard; }
    100% { background-color: $royal; }
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}


html.splash {
    background: $stone;
    overflow: hidden;

    &.reveal {
        overflow: auto;

        body {
            transition: background-color 1s ease-in-out;
        }
        
        .about-block {
            transition: background-color 360ms ease-in-out;     
            
            @include mq($break-m) {
                transition: background-color 1s ease-in-out;
            }
        
        }



    }
}






.overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: none;

    .ov-inner {

        display: none;
        height: 100%;
        .inline-icon svg {
            // width: 100vw;
            // // height: 100vh;
            // height: auto;

            height: 100vh;
            width: auto;

        }

        &.display {
            display: block;
        }
        &.ov-1 {
            background-color: $green
        }
        &.ov-2 {
            background-color: $blue;
        }
        &.ov-3 {
            background-color: $yellow;
        }
        &.ov-4 {
            background-color: $orange;
        }

        
    }


    @include mq($break-m) {
        width: auto;
       height: 100%;

        .ov-inner {
  
            .inline-icon svg {
                width: auto;
            }

        }
    }

 
  

}
 

.intro-block {

    transition: background-color 20s linear;
    
    // animation: fadeIn 120ms cubic-bezier(0.68,-0.55,0.27,1.55);


    @include mq($break-m) {
        background-image: url('/assets/prest-vale-poster-xs.jpg'); 
    }

    &.wrapper {
        // padding: 40px 5px;
    }

    background-color: $royal;

    &.animate {
        animation: color 12s cubic-bezier(0.68,-0.55,0.27,1.55) infinite;
    }


    height: 100vh;
    // background: $clay;
    position: relative;
    z-index: $z100;

    @include flex(center,flex-start);
    flex-direction: column;


    #placeholder {
 
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;   

        background-image: url('/assets/prest-vale-poster-l.jpg');
        background-size: cover;
        background-position: center;
        background-color: $royal;
        
        // animation: fadeIn 120ms cubic-bezier(0.68,-0.55,0.27,1.55);


        @include mq($break-m) {
            background-image: url('/assets/prest-vale-poster-xs.jpg'); 
        }
    }





    video { 
        opacity: 0;

        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0; 

        animation: fadeIn 1200ms cubic-bezier(0.68,-0.55,0.27,1.55);


        &.vid-desktop {
            display: block;
            opacity: 1;
        }

        &.vid-mobile {
            display: none;
            opacity: 0;
        }

        @include mq($break-m) {
            &.vid-desktop {
                display: none;
                opacity: 0;
            }
    
            &.vid-mobile {
                display: block;
                opacity: 1;
            }
    
        }
    }



    h1 {
        width: 100%;
        height: auto;

        &.main-logo {
            overflow: hidden;
          

            path {
                fill: $stone;
            }

 
            .inline-icon {
                opacity: 0;
            }
        }

        &.small-logo {
            display: none;
            

            path {
                fill: $stone;
            }
        }


        &.hover {
            width: auto;
            position: fixed;
            // top: auto;
            left: 0;
            z-index: $z100;
            bottom: 0; 
            
            &.ov-1 {
                background-color: $green
            }
            &.ov-2 {
                background-color: $blue;
            }
            &.ov-3 {
                background-color: $yellow;
            }
            &.ov-4 {
                background-color: $orange;
            }

            .inline-icon svg {
                width: auto;
                height: 100vh;
            }
        }




    }

    .info {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        
        opacity: 0;

        .info-link {
            width: 100%;
            color: $stone;
        }
        transition: opacity ease-in 360ms; 



    }

    position: fixed;
    top: 0;
    left: 0;

    transition: transform ease-in 360ms; 


    @include mq($break-m) {

        height: 100%;
        @include flex(flex-start,flex-start);
        video {

            &.bgvid-m {
                display: none;
            } 
            &.bgvid-s {
                display: block;
            } 
    
        }


        h1 {

        
            &.small-logo {
                overflow: hidden;
                display: block;
                // flex-direction: row;
                // transition: linear;
                
                .inline-icon {
                    opacity: 0;
                }
            }

            &.main-logo {
                display: none;
            }
        }

    }

}


html.reveal {
    .intro-block {
        transform: translateY(-100%);
        // opacity: 0;
        // position: relative;
    }

    &.zwitch {
        .intro-block {
            z-index: 0;
        }
    }
}



.about-block {
    position: relative;
    z-index: $z50;

    .close-link {
        position: fixed;
        right: 0;
        top: 0;
        text-align: right;

        height: 20vh;
        // background: linear-gradient(180deg, $stone 50%, rgba(0, 0, 0, 0) 100%);
    }

    .about-wrap {
        min-height: 100vh;
        padding-top: 20vh;

        @include flex(flex-start,center);
        flex-wrap: nowrap;

        .about-nav, .about-copy-wrap {
            width: 50%;
        }

        .about-nav {
            position: sticky;
            top: 20vh;
            left: 0;

            a {
                width: 100%;
                display: block;
                font-family: $signifierLight;
                opacity: .5;

                &.focus {
                    font-family: $signifier;
                    opacity: 1;
                }
            }

        }

        .about-nav a {
            font-style: normal;
        }

        .about-copy-wrap {
            h2 {
                margin-bottom: 1em;
            }
            .block {
                margin-bottom: 120px;
                display: none;
                
                &:first-of-type {
                    display: block;
                }

            }
        }

        .copy {
            max-width: 24em;
        }

        h2 {
            max-width: 20em;
        }


    }

    @include mq($break-m) {

        background-color: $clay;
        
        .close-link {
            width: auto;
            height: auto;
            z-index: $z100;
            padding-top: 24px;


            a{
                font-style: normal;
                font-family: $signifierLight;
                font-size: 30px;
            }
            // background: linear-gradient(180deg, $stone 50%, rgba(0, 0, 0, 0) 100%);
        }

        .about-wrap {
            padding-top: 40%;

            display: block;

                
            min-height: 100vh;
                
            .about-nav, .about-copy-wrap {
                width: 100%;

                h2 {
                    opacity: 0;
                }

                #contact h2 {
                    margin-top: 61px;
                    max-width: 10em;

                    opacity: 1;
                    font-family: $signifierLight;
                    font-size: 24px;
                    letter-spacing: 0;
                    text-transform: none;
                }
            }

            .about-nav {
                padding: $gapGlobal+10 $gapGlobal;
                position: fixed;
                top: 0;
                left: 0; 

                transition: background-color 1s ease-in-out;

            }

            .about-copy-wrap .block {

                // min-height: 100vh;


                &:last-of-type {
                    margin-bottom: 250px;
                }
            }
            
        }
    }

}


