@keyframes color {
    0% { background-color: $stone; }
    33% { background-color: $clay;}
    66% { background-color: $forest;}
    100% { background-color: $stone; }
}

body {
    transition: background-color 12s ease-in-out;
}

html.splash {
    background: $stone;
    overflow: hidden;

    &.reveal {
        overflow: auto;
        body{
            transition: background-color 360ms ease-in-out;
            
        }
    }
}






.overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: none;

    .ov-inner {

        display: none;
        height: 100%;
        .inline-icon svg {
            width: 100vw;
            height: 100vh;

        }

        &.display {
            display: block;
        }

        &.ov-1 {
            background-color: $yellow;
        }
        &.ov-2 {
            background-color: $green;
        }
        &.ov-3 {
            background-color: $blue;
        }


        
    }


    @include mq($break-m) {
        width: auto;
       height: 100%;

        .ov-inner {
  
            .inline-icon svg {
                width: auto;
            }

        }
    }

 
  

}
 

.intro-block {

    background: $stone;

    &.animate {
        animation: color 12s cubic-bezier(0.68,-0.55,0.27,1.55) infinite;
    }


    height: 100vh;
    // background: $clay;
    position: relative;
    z-index: $z100;

    @include flex(center,center);
    flex-direction: column;

    h1 {
        width: 100%;
        height: auto;

        &.main-logo {
            overflow: hidden;
        }

        &.small-logo {
            display: none;
        }


        &.hover {
            width: auto;
            position: fixed;
            top: 0;
            left: 0;
            z-index: $z100;

            
            &.ov-1 {
                background-color: $green
            }
            &.ov-2 {
                background-color: $blue;
            }
            &.ov-3 {
                background-color: $yellow;
            }
            &.ov-4 {
                background-color: $orange;
            }

            .inline-icon svg {
                width: auto;
                height: 100vh;
            }
        }




    }

    .info {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        

        .info-link {
            width: 100%;
        }
        transition: opacity ease-in 360ms; 



    }

    position: fixed;
    top: 0;
    left: 0;

    transition: opacity ease-in 360ms; 


    @include mq($break-m) {

        height: 100%;

        h1 {
            &.small-logo {
                display: flex;
                flex-direction: row;
                transition: linear;
                .inline-icon {
                    flex: 0 0 auto;
                    width: 200%;
                    padding: 0 15px;
                }

            }

            &.main-logo {
                display: none;
            }
        }

    }

}


html.reveal {
    .intro-block {
        // transform: translateY(-100%);
        opacity: 0;
        // position: relative;
    }

    &.zwitch {
        .intro-block {
            z-index: 0;
        }
    }
}



.about-block {
    position: relative;
    z-index: $z50;

    .close-link {
        position: fixed;
        right: 0;
        top: 0;
        text-align: right;

        height: 20vh;
        // background: linear-gradient(180deg, $stone 50%, rgba(0, 0, 0, 0) 100%);
    }

    .about-wrap {
        
        padding-top: 20vh;

        @include flex(flex-start,center);
        flex-wrap: nowrap;

        .about-nav, .about-copy-wrap {
            width: 50%;
        }

        .about-nav {
            position: sticky;
            top: 20vh;
            left: 0;

            a {
                width: 100%;
                display: block;
                font-family: $signifierLight;
                opacity: .5;

                &.focus {
                    font-family: $signifier;
                    opacity: 1;
                }
            }

        }

        .about-copy-wrap {
            h2 {
                margin-bottom: 1em;
            }
            .block {
                margin-bottom: 120px;

                &:last-of-type {
                    margin-bottom: 90vh;
                }
            }
        }

        .copy {
            max-width: 24em;
        }

        h2 {
            max-width: 20em;
        }


    }

    @include mq($break-m) {

        .close-link {
            width: auto;
            height: auto;
            z-index: $z100;
            padding-top: 30px;
            // background: linear-gradient(180deg, $stone 50%, rgba(0, 0, 0, 0) 100%);
        }

        .about-wrap {
            padding-top: 40%;

            display: block;

            .about-nav, .about-copy-wrap {
                width: 100%;

                h2 {
                    opacity: 0;
                }

                #contact h2 {
                    opacity: 1;
                }
            }

            .about-nav {
                padding: $gapGlobal+10 $gapGlobal;
                position: fixed;
                top: 0;
                left: 0; 

                
                transition: background-color 360ms ease-in-out;

            }

            .about-copy-wrap .block {
                &:last-of-type {
                    margin-bottom: 250px;
                }
            }
            
        }
    }

}

